 * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3D1B3;
    color: #5C3A29;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
}


/* ALL SCREENS */

#welcome-screen,
#coffee-screen,
#making-screen,
#final-screen {
    padding-top: 80px;
}


/* HIDDEN SCREENS */

.hidden {
    display: none;
}


/* WELCOME SCREEN */

.coffee-icon {
    font-size: 80px;
    animation: float 2s infinite ease-in-out;
}

h1 {
    font-size: 45px;
    margin: 20px 0 10px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}


/* MAIN BUTTONS */

button {
    background-color: #E8A87C;
    color: #5C3A29;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.18);
}


/* COFFEE OPTIONS */

.coffee-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 35px;
}

.coffee-options button {
    width: 240px;
    height: 210px;
    background-color: #FFF7ED;
    border: 3px solid #E8A87C;
}

.drink-icon {
    font-size: 55px;
}

.coffee-options h3 {
    color: #5C3A29;
    font-size: 19px;
}

.coffee-options p {
    color: #C98255;
}


/* INGREDIENTS */

.ingredients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px auto;
    max-width: 600px;
}

.ingredient {
    background-color: #FFF7ED;
    border: 2px solid #E8A87C;
}

.ingredient.selected {
    background-color: #E8A87C;
    transform: scale(1.05);
}


/* MAKE COFFEE BUTTON */

#make {
    background-color: #C98255;
    color: white;
    margin-top: 15px;
}


/* MESSAGES */

#selected-coffee {
    color: #C98255;
    font-weight: bold;
}

#ingredient-message {
    margin-top: 20px;
    font-weight: bold;
}


/* FINAL SCREEN */

.final-cup {
    font-size: 110px;
    animation: coffeePop 0.7s ease;
}

#final-screen h1 {
    margin-top: 15px;
    color: #5C3A29;
}

#final-screen h2 {
    color: #C98255;
}

#final-message {
    font-size: 20px;
    font-weight: bold;
}


/* ANIMATIONS */

@keyframes coffeePop {

    from {
        transform: scale(0.3);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}